!!!
html
  head
    if !isHome && meta.title
      title= meta.title + ' | ' + title  
    else
      title= description + ' | ' + title
    if meta.tags
      meta(name='keywords', content=meta.tags)
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style-responsive.css')
    if theme
      link(rel='stylesheet', href='/themes/' + theme + '/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora')
    if ads
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/ad-nag.js')
  body
    #main

      //
        #title= title

        div
          ul#nav
            for page in pages
              li
                a(href='/' + page.slug)= page.meta.linktext || page.title        
          ul#subnav
            li
              if showRss
                a.rss(href='/feed')

        .clear

      .essay
        !=body

      #marty-bar
        .a(href='#')
          img(src='/themes/beapub/img/marty.png')

      if disqusShortname
        include _disqus

    if ads
      #adnag-root.adnag-closed
        .adnag-header
          a.adnag-title(href='#')
            span.caret!= '&#9650;'
            span.adnag-title-text
        .adnag-body!= ad

    if googleAnalyticsAccount
      include _ganalytics